NEXT_PUBLIC_SUPABASE_URL = https://pwivgizoqlwqsflylpkk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB3aXZnaXpvcWx3cXNmbHlscGtrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAyNzE0NzEsImV4cCI6MjA3NTg0NzQ3MX0.DVwEzuSTydOqG2dONPcgJfM9kfCQpAqag499_iwQglo